<header class="navbar navbar-expand-lg navbar-dark bg-glass sticky-top">
  <div class="container">
    {% set homeUrl = '/' | url %}
    {% set analyzerUrl = '/analyzer/' | url %}
    {% set toolsUrl = '/tools/' | url %}
    {% set demoUrl = '/demo/' | url %}
    {% set showroomUrl = '/showroom/' | url %}
    {% set publicationsUrl = '/publications/' | url %}
    {% set aboutUrl = '/about/' | url %}
    {% set k12Url = '/k12/' | url %}
    {% set resourcesUrl = '/resources/' | url %}
    {% set donateUrl = '/donate/' | url %}
    {% set contributeUrl = '/contribute/' | url %}
    {% set appUrl = '/app/' | url %}
    {% set projectsMapUrl = '/map/' | url %}

    <a class="navbar-brand fw-semibold d-flex align-items-center gap-2" href="{{ homeUrl }}">
      <img src="{{ '/img/logo-birdnet-circle.png' | url }}"
           alt="BirdNET logo"
           class="navbar-logo">
      <span>BirdNET</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainNav" aria-controls="mainNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if page.url == homeUrl %} active{% endif %}" href="{{ homeUrl }}">Home</a>
        </li>
        <!-- Tools dropdown: Analyzer, App, Open source -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url == analyzerUrl or page.url == appUrl or page.url == toolsUrl %} active{% endif %}"
             href="{{ toolsUrl }}" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="toolsDropdown">
            <li><a class="dropdown-item{% if page.url == analyzerUrl %} active{% endif %}" href="{{ analyzerUrl }}">Analyzer</a></li>
            <li><a class="dropdown-item{% if page.url == appUrl %} active{% endif %}" href="{{ appUrl }}">App</a></li>
            <li><a class="dropdown-item{% if page.url == demoUrl %} active{% endif %}" href="{{ demoUrl }}">Browser demo</a></li>
            <li><a class="dropdown-item" href="https://birdnet-team.github.io/real-time-pwa/" target="_blank" rel="noopener">BirdNET Live <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item{% if page.url == toolsUrl %} active{% endif %}" href="{{ toolsUrl }}">Open source</a></li>
          </ul>
        </li>

        <!-- Projects dropdown (external links) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
            <li>
              <a class="dropdown-item{% if page.url == projectsMapUrl %} active{% endif %}" href="{{ projectsMapUrl }}">
                Projects map
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://birdnet.cornell.edu/swamp" target="_blank" rel="noopener">
                SWAMP  <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://birdnet.cornell.edu/amic" target="_blank" rel="noopener">
                AMiC  <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </li>

        <!-- Showroom dropdown grouped by tag (hardcoded) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url == showroomUrl %} active{% endif %}" href="{{ showroomUrl }}"
             id="showroomDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Showroom
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="showroomDropdown">
            <li><a class="dropdown-item fw-semibold" href="{{ showroomUrl }}">Showroom overview</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Backyard monitoring</h6></li>
            <li><a class="dropdown-item" href="https://haikubox.com" target="_blank" rel="noopener">HaikuBox <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://app.birdweather.com" target="_blank" rel="noopener">BirdWeather <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://birdnetpi.com" target="_blank" rel="noopener">BirdNET-Pi <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://www.terralistens.com" target="_blank" rel="noopener">Terra <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>

            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Tools</h6></li>
            <li><a class="dropdown-item" href="https://chirpity.mattkirkland.co.uk" target="_blank" rel="noopener">Chirpity <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://github.com/tphakala/go-birdnet" target="_blank" rel="noopener">BirdNET-Go <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://github.com/tphakala/birda" target="_blank" rel="noopener">Birda <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://oekofor.netlify.app" target="_blank" rel="noopener">ecoPi:Bird <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://joeweiss.github.io/birdnetlib/" target="_blank" rel="noopener">birdnetlib <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://ecosound-web.de" target="_blank" rel="noopener">ecoSound-web <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://github.com/ssciwr/faunanet" target="_blank" rel="noopener">FaunaNet <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://www.birdomatic.com" target="_blank" rel="noopener">BirdOMatic <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>

            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Apps</h6></li>
            <li><a class="dropdown-item" href="https://github.com/auditory-cloud/whoBIRD" target="_blank" rel="noopener">whoBIRD <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://dawn-chorus.org" target="_blank" rel="noopener">Dawn Chorus <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://www.jyu.fi/fi/tutkimus/muuttolintujen-kevat" target="_blank" rel="noopener">Muuttolintujen Kevät <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-item" href="https://www.ischool.berkeley.edu/projects/2024/ribbit-web-app-automated-frog-species-identification-and-classification" target="_blank" rel="noopener">Ribbit <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url == publicationsUrl or page.url == resourcesUrl or page.url == k12Url or page.url == aboutUrl %} active{% endif %}" href="#" id="learningDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Knowledge Base
          </a>
          <ul class="dropdown-menu" aria-labelledby="learningDropdown">
            <li><a class="dropdown-item{% if page.url == publicationsUrl %} active{% endif %}" href="{{ publicationsUrl }}">Publications</a></li>
            <li><a class="dropdown-item{% if page.url == resourcesUrl %} active{% endif %}" href="{{ resourcesUrl }}">Online resources</a></li>
            <li><a class="dropdown-item{% if page.url == k12Url %} active{% endif %}" href="{{ k12Url }}">K-12 learning</a></li>
            <li><a class="dropdown-item{% if page.url == aboutUrl %} active{% endif %}" href="{{ aboutUrl }}">About BirdNET</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url == contributeUrl or page.url == donateUrl %} active{% endif %}" href="#" id="contributeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contribute
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="contributeDropdown">
            <li><a class="dropdown-item{% if page.url == contributeUrl %} active{% endif %}" href="{{ contributeUrl }}">Code & data</a></li>
            <li><a class="dropdown-item{% if page.url == donateUrl %} active{% endif %}" href="{{ donateUrl }}">Donate</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
